// 卡片样式
.wrapper-card {
	padding: 10px;
	border: 1px solid #eaeaea;
	overflow: hidden;
	border-radius: 0.25rem;
	box-sizing: border-box;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.1);
}
.wrapper-card:hover {
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
}
.wrapper-card-hover {
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
	padding: 10px;
	border: 1px solid #eaeaea;
	overflow: hidden;
	border-radius: 0.25rem;
	box-sizing: border-box;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.1);
}

// scollbar 滚动条样式

html {
	overflow: overlay;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #cccccc;
}
// ---end ----------
