@import '_variables';

:root {
	// --vp-c-brand: #ff7340;
	// --vp-c-brand-light: #ff5719;
	// --vp-c-brand-lighter: #ff7340;
	// --vp-c-brand-lighter: rgba(255, 135, 23, 0.25);
	// --vp-c-brand-dark: #ff622d;
	// --vp-c-brand-darker: #e23c00;

	--homepage-width: 1126px;

	--md-tip-danger-bg: #fdf7f7;
	--md-tip-danger-border: #d9534f;
	--md-tip-danger-color: #d9534f;

	--md-tip-success-bg: #f3f8f3;
	--md-tip-success-border: #50af51;
	--md-tip-success-color: #50af51;

	--md-tip-warning-bg: #fcf8f2;
	--md-tip-warning-border: #f0ad4e;
	--md-tip-warning-color: #f0ad4e;

	--md-tip-info-bg: #f4f8fa;
	--md-tip-info-border: #5bc0de;
	--md-tip-info-color: #5bc0de;
}

@media (max-width: $MQIpad) {
	.hide-on-mobile {
		display: none !important;
	}
}

@media (min-width: 1440px) {
	.VPSidebar,
	.VPNavBar.has-sidebar .title {
		width: var(--vp-sidebar-width) !important;
		max-width: 100% !important;
		padding-left: 40px !important;
	}
}
