.postlist-wrapper {
	margin: 20px auto 0;
	max-width: var(--homepage-width);
	display: flex;

	.wrapper {
		&-left {
			flex: 1;
			margin-right: 20px;
			// border: 1px solid;
		}
		&-right {
			width: 270px;
		}
	}
}
